{% extends "homePIX/base.html" %}
{% block content %}

    <div class="techfont" id="div_8" style="min-height:100px;">
      <h1>Blog created as Python Django exercise on Udemy course</h1>
      <h2>Implementation for pictures by Elliott Bignell</h2>
      <a href="https://github.com/ElliottBignell/homePIX">GitHub source project</a>
      <h2>Happy shooting</h2>

      <h2>TODO</h2>

    <ul>
      <li>Allow identification of repeats</li>
      <li>Allow collapse of series</li>
      <li>Full drag-and-drop organisation with keywords.etc</li>
      <li>Add breadcrumbs</li>
      <li>Add default pictures</li>
      <li>Delete buttons etc. for removing Albums and content</li>
      <li>Filter by date range</li>
      <li>Import and export CSV</li>
      <li>Complete front page with albums, folder then pictures in sequence</li>
      <li>Delete dead entries from album database table</li>
      <li>Bulk operations and multiple selection</li>
      <li>Mashup using multiple online sources and local files</li>
    </ul>
    </div>

      <h2>Testing Matrix</h2>
    <table style="width:100%;">
        <tr style="height:2em;">
          <td>

          </td>
          <td>
              Content
          </td>
          <td>
              Search
          </td>
          <td>
              Sort
          </td>
          <td>
              Examine
          </td>
        </tr>
        <tr style="height:2em;">
          <td>
              Pictures
          </td>
        </tr>
        <tr style="height:2em;">
          <td>
              Folders
          </td>
        </tr>
        <tr style="height:2em;">
          <td>
              Albums
          </td>
        </tr>
        <tr style="height:2em;">
          <td>
              Organiser
          </td>
        </tr>
    </table>

{% endblock %}
