{% extends "homePIX/base.html" %}
{% block content %}

  <div class="techfont" style="min-height:100px;">
      <h1>Content</h1>

      <form action="{% url 'album_list' %}" method="get">
        <input name="pk" type="text" placeholder="Add new...">
      </form>
    </div>
    {% for instance in data %}
        {% for field, value in instance.fields.items %}
            {{ field }}: {{ value }}
        {% endfor %}
    {% endfor %}

    {% for albumcontent in object_list %}
      {% if albumcontent.modtype == 1 or albumcontent.modtype == 4 %}
        <div class="tt_base droppable draggable" id="div_{{ albumcontent.modthumb.modid }}">
          <!-- <a id="piclink_{{ albumcontent.modthumb.modid }}" href="{{ albumcontent.modpath }}/{{ albumcontent.file }}"> -->
          <a id="piclink_{{ albumcontent.modthumb.modid }}" href="item/{{ albumcontent.modthumb.modid }}/">
            <section class="wrapper" id="file-number_{{ albumcontent.modthumb.modid }}">
                <span class="tt_subject">
                  <img id="picture_{{ albumcontent.modthumb.modid }}"
                       class="lazyload"
                       src="{{ albumcontent.modthumb.file }}"
                       data-src="{{ albumcontent.modthumb.file }}"
                       alt="{{ albumcontent.modthumb.file }}"
                       style="border:2px solid white;position:relative;top:100%;left:0%;z-index:0;height:200px; border-radius:12px;">
                  </img>
              </span>
            </section>
            <div id="header_o_{{ albumcontent.modthumb.modid }}" class="tt_left tt_text">
              <a href="./make_thumbnail/{{request.GET.ID}}/{{ albumcontent.modthumb.modid }}/"><i class="material-icons">album</i></a>
              <a href="./make_thumbnail/"><i class="material-icons">keyboard_arrow_left</i></a>
              <a href="./make_thumbnail/"><i class="material-icons">keyboard_arrow_right</i></a>
              <a href="./make_thumbnail/"><i class="material-icons">bedtime</i></a>
              <a href="./make_thumbnail/"><i class="material-icons">photo_album</i></a>
              <div style="position:absolute;top:5px;right:5px;"><i class="material-icons">photo</i></div>
              <div style="position:absolute;left:5px;top:5px;right:150px;">
                <div id="header_{{ albumcontent.modthumb.modid }}" class="tt_lefttextnooff">
                  {{ albumcontent.modthumb.modtitle }}
                </div>
              </div>
            </div>
            <span class="tt_text tt_bottom">
              <article id="art_keywords_{{ albumcontent.modthumb.modid }}">No keywords</article>
            </span>
          </a>
          <span class="tt_edit">
              <form id="editprops">
                  <fieldset>
                      <input id="title" type="text" value="{{ albumcontent.modthumb.modtitle }}">
                  </fieldset>
              </form>
          </span>
        </div>
      {% endif %}
    {% empty %}
      No picture files in this picture
    {% endfor %}

  </div>
{% endblock content %}

{% block picturefile %}
{{ block.super }}
{% endblock picturefile %}

