<!DOCTYPE html>
{% load static %}
{% load define_action %}

<html>
  <head>
    <meta charset="utf-8">
    <title>homePIX</title>

    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css'%}" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous"> -->

    <!-- Medium-Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/tooltips.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/directories.css' %}">
    <link rel="stylesheet" href="{% static 'css/flyout.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/mover.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/albumMover.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lazysizes/lazysizes.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/resize.js' %}"></script>
    <script src="{% static 'js/navigation.js' %}" type="text/javascript" async=""></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

  </head>

  <body class='loader' style="margin:0;height:100%;overflow:hidden">

  <div class="col-sm-12" id="panetop">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom techfont fixed-top">
      <div class="container" style="width:96%;margin-right:2%;margin-left:2%;height:calc(100% - 100px)">

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 sf-menu">
              <li>
                <a class="bigbrand" href="#">homePIX</a>
              </li>

              <li><a href="{% url 'paths'%}">       <i class="large material-icons">folder      </i></a>
                <ul class="drop-down-menu">
                  <li>
                    <a href="{% url 'paths'%}">Folders</a>
                  </li>
                </ul>
              </li>
              <li><a href="{% url 'album_list'%}">  <i class="large material-icons">photo_album </i></a>
                <ul class="drop-down-menu">
                  <li>
                    <a href="{% url 'album_list'%}">Albums</a>
                  </li>
                </ul>
              </li>
              <li><a href="{% url 'organisation'%}"><i class="large material-icons">view_quilt  </i></a>
                <ul class="drop-down-menu">
                  <li>
                    <a href="{% url 'organisation'%}">Organise</a>
                  </li>
                </ul>
              </li>
              <li><a href="{% url 'about'%}">       <i class="large material-icons">info        </i></a>
                <ul class="drop-down-menu">
                  <li>
                    <a href="{% url 'about'%}">About</a>
                  </li>
                </ul>
              </li>

              <li>
            <form action="{{ request.path }}" method="get" style="margin:12px;color:#cdd422;position:relative;top:-0.34em;">
                From...
              <input name="fromDate" type="date" placeholder="{{ date_range.0.date|date:'Y-m-d' }}" value="{{ date_range.0.date|date:'Y-m-d' }}" style="width:10em;">
              ...to...
              <input name="toDate"   type="date" placeholder="{{ date_range.1.date|date:'Y-m-d' }}" value="{{ date_range.1.date|date:'Y-m-d' }}" style="width:10em;">
              <button type="submit">
                <i class="medium material-icons">date_range </i>
              </button>
              <input name="ID"       type="text" placeholder="{{ request.GET.ID     }}" value="{{ request.GET.ID     }}" style="visibility:hidden;width:0em;">
              <input name="Key"      type="text" placeholder="{{ request.GET.Key    }}" value="{{ request.GET.Key    }}" style="visibility:hidden;width:0em;">
              <input name="search"   type="text" placeholder="{{ request.GET.search }}" value="{{ request.GET.search }}" style="visibility:hidden;width:0em;">
              <input name="sort"     type="text" placeholder="{{ request.GET.sort   }}" value="{{ request.GET.sort   }}" style="visibility:hidden;width:0em;">
            </form>
              </li>
              <li>
            <form action="{{ request.path }}" method="get" style="margin:12px;color:#cdd422;position:relative;top:-0.3.6em;">
              <select name="sort" id="sort" value="{{ request.GET.sort }}" style="width:10em;" placeholder="Sort by...">
               {% for option in sort_options %}
                 {% if option ==  request.GET.sort %}
                 <option value="{{ option}}" selected>{{ option}}</option>
                 {% else %}
                    <option value="{{ option}}" >{{ option}} </option>
                 {% endif %}
               {% endfor %}
              </select>
              <button type="submit">
                <i class="medium material-icons">sort </i>
              </button>
              <input name="fromDate" type="date" value="{{ date_range.0.date|date:'Y-m-d' }}" style="visibility:hidden;width:0em;">
              <input name="toDate"   type="date" value="{{ date_range.1.date|date:'Y-m-d' }}" style="visibility:hidden;width:0em;">
              <input name="ID"       type="text" placeholder="{{ request.GET.ID     }}" value="{{ request.GET.ID     }}" style="visibility:hidden;width:0em;">
              <input name="Key"      type="text" placeholder="{{ request.GET.Key    }}" value="{{ request.GET.Key    }}" style="visibility:hidden;width:0em;">
              <input name="search"   type="text" placeholder="{{ request.GET.search }}" value="{{ request.GET.search }}" style="visibility:hidden;width:0em;">
            </form>
              </li>
              <li>
            <form action="{{ request.path }}" method="get" style="margin:12px;">
              <input name="search"   type="text" value="{{ request.GET.search }}"             style="width:10em;" placeholder="Search...">
              <button type="submit">
                <i class="medium material-icons">search </i>
              </button>
              <input name="fromDate" type="date" value="{{ date_range.0.date|date:'Y-m-d' }}" style="visibility:hidden;width:0em;">
              <input name="toDate"   type="date" value="{{ date_range.1.date|date:'Y-m-d' }}" style="visibility:hidden;width:0em;">
              <input name="ID"       type="text" placeholder="{{ request.GET.ID     }}" value="{{ request.GET.ID     }}" style="visibility:hidden;width:0em;">
              <input name="Key"      type="text" placeholder="{{ request.GET.Key    }}" value="{{ request.GET.Key    }}" style="visibility:hidden;width:0em;">
              <input name="sort"     type="text" placeholder="{{ request.GET.sort   }}" value="{{ request.GET.sort   }}" style="visibility:hidden;width:0em;">
            </form>
              </li>
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'picture_new'%}">   <i class="large material-icons">add_a_photo </i></a></li>
                    <li><a href="{% url 'directory_new'%}"> <i class="large material-icons">create_new_folder </i></a></li>
                    <li><a href="{% url 'logout'%}">        <i class="large material-icons">exit_to_app </i></a></li>
                  {% else %}
                    <li><a href="{% url 'about'%}">       <i class="large material-icons">person        </i></a>
                    </li>
                  {% endif %}
                </ul>
        </div>
  {% if is_paginated %}
    <div id="panenavigate" style="position:absolute;left:70px;top:60px;width:100%;">
      <div style="position:absolute;top:0px;left:30px;width:25%;">
        <ul class="pagination" style="margin:0 0;">
          {% if page_obj.has_previous %}
          <li><a style="color:#cdd422;" href="?{{ link_params }}page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for l in Items.paginator.page_range %}
            {% if l == page %}
                <li><span style="background-color:blue;color:white;font-weight:bold;">{{page}}</span></li>
            {% elif l == 1 %}
            <li><a style="color:#cdd422;" href="?{{ link_params }}page={{l}}">{{l}}</a></li>
            {% elif l == 2 %}
                {% if page > 5 %}
                  <li><a style="color:#cdd422;" href="">...</a></li>
                {% else %}
                <li><a style="color:#cdd422;" href="?{{ link_params }}page={{l}}">{{l}}</a></li>
                {% endif%}
            {% elif l <= Items.number|add:3 and l >= Items.number|add:-3 %}
                {% if page == l %}
                <li><a style="color:#cdd422;" href="?{{ link_params }}page={{l}}"><b>{{l}}</b></a></li>
                {% else %}
                <li><a style="color:#cdd422;" href="?{{ link_params }}page={{l}}">{{l}}</a></li>
                {% endif%}
            {% elif l == ForItemCount|add:-1 %}
                {% if page < ForItemCount|add:-5 %}
                    <li><a style="color:#cdd422;" href="">...</a></li>
                {% else %}
                    <li>{{l}}:{{ ForItemCount|add:-5 }}:{{ page }}</li>
                {% endif%}
            {% elif l == ForItemCount %}
            <li><a style="color:#cdd422;" href="?{{ link_params }}page={{ ForItemCount }}">{{ ForItemCount }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <li><a style="color:#cdd422;" href="?{{ link_params }}page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      </div>

      <div style="position:absolute;left:30%;width:70%;top:0px;height:30px;">
        <div class="container">
          <div class="vertical-center">
            <div style="position:absolute;left:0px;top:0px;width:14%;height:100%;">
              <ul class="pagination" style="margin: 0 0;"><li id="page_no"><a style="color:#cdd422;" href="?page={{l}}">Go to: {{page}}</a></li></ul>
            </div>
            <div style="position:absolute;left:8%;top:10px;width:76%;height:100%;">
              <div class="range-slider">
                <input
                  class="custom-range"
                  type="range" value="{{ page }}" min="1" max="{{ ForItemCount }}"
                  id="slider" >
            </div>
          </div>
      </div>
    </div>
    </div>
    </div>
  {% endif %}
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    </nav>

    </div>

  <div class="col-sm-12 panemain" id="panemain">
    <div class="container" style="width:90%;margin-right:5%;margin-left:5%;height:100%;overflow-y:auto;">
      {% block content %}
      {% endblock content %}
      {% block picturefile %}
      {% endblock picturefile %}
    </div>
  </div>

  <script type="text/javascript">
      imgnav = new albumMover( "." )
  </script>

</body>
</html>
