{% extends "homePIX/picturefile_inc.html" %}
{% block content %}
{{block.super}}

{% if object_list %}
  <div class="techfont" id="div_header" style="min-height:100px;padding-left:5em;padding-right:5em;margin-left:5em;margin-right:5em;">
    <h1>{{ folder_name }}</h1>
    <h2>Page #{{ page }} of {{ ForItemCount }}</h2>
    </div>
  <div id="div_collection" style="padding-left:5em;padding-right:5em;margin-left:5em;margin-right:5em;">
{% else %}
  <div class="techfont" id="div_header" style="min-height:100px;">
    <h1>Nothing here!</h1>
  </div>
{% endif %}

  {% for folder in object_list %}
    {% if folder.modtype == 2 %}
      {% if folder.modcount > 0 %}
        <div class="tt_base droppable draggable techfont gallery justified" id="div_{{ folder.modid }}">
          <a id="piclink_{{ folder.modid }}" href="{{ folder.modid }}/">
            <div class="desc">{{ folder.modname }}</div>
            <div style="position:absolute;top:0px;right:0px;color:black;"><i class="material-icons">folder</i></div>
            <section class="wrapper" id="file-number_{{ folder.modthumb.modpath }}_{{ folder.modthumb.file }}">
              <span class="tt_subject">
                <img id="picture_{{ folder.modid }}"
                     class="lazyload"
                     src="{{ folder.modthumb.modsmallfile }}"
                     data-src="{{ folder.modthumb.modfile }}"
                     alt="{{ folder.count }} shots in {{ folder.modpath }}"
                     style="border:2px solid white;position:relative;top:100%;left:0%;z-index:0;">
                         <script>

                            $( '#picture_{{ folder.modid }}' ).on('load', (event) => {

                                var pic_obj = $( '#picture_{{ folder.modid }}' );

                                $( '#div_{{ folder.modid }}' ).attr(
                                            'aspectRatio',
                                            Math.round( 100.0 * pic_obj.width() / pic_obj.height() ) / 100.0
                                            );
                                setTimeout( resizeGroups, 2000 );
                            });
                        </script>
                </img>
              </span>
            </section>
            <div class="count">Contains {{ folder.modcount }} shots</div>
          </a>
        </div>
      {% endif %}
    {% endif %}
  {% empty %}
    No folders loaded
  {% endfor %}

  </div>
{% endblock content %}

{% block picturefile %}
{{block.super}}
{% endblock picturefile %}
