{% extends "homePIX/base.html" %}
{% block content %}

{% load positions %}

  <div class="centerstage">
    <div class="techfont" id="div_" style="min-height:100px;">
      <div class="row">
        <div class="col-md-6">
          <h1>Organisation</h1>
          <h3>Under heavy construction. You cannot actually do much organising yet.</h3>
        </div>
        <div class="col-md-6">
          <span class="pull-right">
            <form action="{% url 'picture_list' %}" method="get" class="float-right">
              {% csrf_token %}
              <input name="sort"   type="text" placeholder="Sort by...">
            </form>
          </span>
          <span class="pull-right">
            <form action="{% url 'picturefile_organise' %}" method="get" class="float-right">
              {% csrf_token %}
              <input name="organise"   type="text" placeholder="Organise">
            </form>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="pane">
    <div class="split left draggable droppable">
      <a id="universelink_{{ forloop.counter }}" href="?universe">
        <div class="tt_base draggable droppable techfont organise_gallery" id="universe_{{ forloop.counter }}">
          <div class="desc" style="position:absolute;top:5px;height:100px;left:5px;width:60%;">
            <section class="wrapper" id="universesect_{{ forloop.counter }}">
              <span class="tt_subject">
                <img id="picture_{{ forloop.counter }}"
                     class="lazyload"
                     src="{{ universe.0.modthumb.modtinyfile }}"
                     data-src="{{ universe.0.modthumb.modsmallfile }}"
                     alt="{{ universe.count }} shots in whole collection"
                     style="border:2px solid white;z-index:0;position:relative;top:0px;left:0px;height:100px;">
                </img>
              </span>
            </section>
            <div class="desc" style="position:absolute;top:5px;height:100%;left:150px;width:90%;text-align:right;">
              <div style="position:absolute;top:5px;height:calc(100%-25px);width:100%;font-size:2em;">
                  {{ universe.modname }}
              </div>
              <div style="position:absolute;top:50%;height:25px;width:100%;">
                  <span id="universecount_{{ forloop.counter }}" style="text-align:right;">{{ universe.count }} Pictures</span>
              </div>
            </div>
          </div>
          <div class="desc" style="position:absolute;top:5px;height:90%;left:91%;width:5%;text-align:right;">
            <i class="material-icons small-icon" style="position:absolute;top:5px;right:5px;width:20px;">universe</i>
          </div>
        </div>
      </a>
      {% for album in album_list %}
         {% if album.modcount > 0 %}
           <a id="albumlink_{{ forloop.counter }}" href="?album={{ album.modid }}">
             <div class="tt_base draggable droppable techfont organise_gallery justified" id="album_{{ forloop.counter }}">
               <div class="desc" style="position:absolute;top:5px;height:100px;left:5px;width:60%;">
                 <section class="wrapper" id="albumsect_{{ forloop.counter }}">
                   <span class="tt_subject">
                     <img id="picture_{{ forloop.counter }}"
                          class="lazyload"
                          src="{{ album.modthumb.modfile }}"
                          data-src="{{ album.modthumb.modfile }}"
                          alt="{{ album.count }} shots in {{ album.modpath }}"
                          style="border:2px solid white;z-index:0;position:relative;top:0px;left:0px;height:100px;">
                     </img>
                   </span>
                 </section>
                 <div class="desc" style="position:absolute;top:5px;height:100%;left:150px;width:90%;text-align:right;">
                   <div style="position:absolute;top:5px;height:calc(100%-25px);width:100%;font-size:2em;">
                       {{ album.modname }}
                   </div>
                   <div style="position:absolute;top:50%;height:25px;width:100%;">
                       <span id="albumcount_{{ forloop.counter }}" style="text-align:right;">{{ album.modcount }} Pictures</span>
                   </div>
                 </div>
               </div>
               <div class="desc" style="position:absolute;top:5px;height:90%;left:91%;width:5%;text-align:right;">
                 <i class="material-icons small-icon" style="position:absolute;top:5px;right:5px;width:20px;">album</i>
               </div>
             </div>
           </a>
           <a href="javascript:add_ids_to_album( {{ forloop.counter }}, get_selected_ids() );">
             <i class="material-icons medium-icon" style="position:absolute;left:calc( 100% - 50px );top:{% album_top 1 20 20 %};width:20px;">add_to_photos</i>
           </a>
        {% endif %}
      {% empty %}
        No folders loaded
      {% endfor %}

      {% for directory in directory_list %}
         {% if directory.modcount > 0 %}
           <a id="albumlink_{{ forloop.counter }}" href="?directory={{ directory.modid }}">
             <div class="tt_base draggable droppable techfont organise_gallery" id="album_{{ forloop.counter }}">
               <div class="desc" style="position:absolute;top:5px;height:100px;left:5px;width:60%;">
                 <section class="wrapper" id="albumsect_{{ forloop.counter }}">
                   <span class="tt_subject">
                     <img id="picture_{{ forloop.counter }}"
                          class="lazyload"
                          src="{{ directory.modthumb.modfile }}"
                          data-src="{{ directory.modthumb.modfile }}"
                          alt="{{ directory.count }} shots in {{ directory.modpath }}"
                          style="border:2px solid white;z-index:0;position:relative;top:0px;left:0px;height:100px;">
                     </img>
                   </span>
                 </section>
                 <div class="desc" style="position:absolute;top:5px;height:100%;left:150px;width:90%;text-align:right;">
                   <div style="position:absolute;top:5px;height:calc(100%-25px);width:100%;font-size:2em;">
                       {{ directory.modname }}
                   </div>
                   <div style="position:absolute;top:50%;height:25px;width:100%;">
                       <span id="albumcount_{{ forloop.counter }}" style="text-align:right;">{{ directory.modcount }} Pictures</span>
                   </div>
                 </div>
               </div>
               <div class="desc" style="position:absolute;top:5px;height:90%;left:91%;width:5%;text-align:right;">
                 <i class="material-icons small-icon" style="position:absolute;top:5px;right:5px;width:20px;">folder</i>
               </div>
             </div>
           </a>
        {% endif %}
      {% empty %}
        No folders loaded
      {% endfor %}

    </div>
  </div>

  <div class="pane">
    <div id="content_organise" class="split right draggable droppable" style="user-select: none;">
      {% for picture in object_list %}
        <div class="tt_base draggable droppable keynav" draggable="true" id="selectable_{{ forloop.counter }}_{{ picture.modthumb.modid }}">
          <!-- <a id="piclink_{{ forloop.counter }}" href="{{ picture.modpath }}/{{ picture.modfile }}"> -->
           <section class="wrapper keynav" id="file-number_{{ forloop.counter }}" style="padding:6px;">
             <span class="tt_subject">
               <img id="picture_{{ forloop.counter }}_{{ picture.modthumb.modid }}"
                    class="lazyload tt_unselected keynav selectable"
                    draggable="true"
                    src="{{ picture.modthumb.modfile }}"
                    data-src="{{ picture.modthumb.modfile }}"
                    alt="{{ picture.modthumb.modfile }}"
                    >
                 </img>
             </span>
           </section>
        </div>
      {% empty %}
        No picture files in this picture
      {% endfor %}
    </div>
  </div>

{% endblock %}
