homePIX/__pycache__/*
homePIX/.idea
homePIX/templatetags/__pycache__/*
homePIX/.env
homePIX/migrations/*
maven/*
*.swo
*.swp
*.swr
db.sqlite
db.sqlite3
data.txt
db.backup
homePIX/static/css/custom.css.map
my.cnf
