{% extends "blog/base.html" %}
{% block content %}

  <script>

    var dirty = false;

    function init() {

        var editable = document.getElementById( 'titletext' );

        editable.addEventListener('input', function() {
            dirty = true;
        });

        editable.addEventListener('blur', function() {
            
            if ( dirty ) {

              var pic_id = $("input#pic_id").val();
              var val    = jQuery("#titletext").text();

              $.ajax({
                url: '/keywords/change/' + pic_id,
                data: {
                  'key': 'Title',
                  'value': val
                },
                dataType: 'json',
                success: function (results) {
                  dirty = false;
                }
              });
            }
        });
    }

    $(document).ready( function() {

        $('#submit_keywords').submit( function( e ) {

          e.preventDefault();

          var pic_id     = $("input#pic_id").val();
          var vocabulary = $("input#vocabulary").val();

          $.ajax({
            url: '/keywords/add/' + pic_id,
            data: {
              'vocabulary': vocabulary
            },
            dataType: 'json',
            success: function (results) {

              reload_keyword_buttons( results, pic_id )
              $("input#vocabulary").val( "" );
            }
          });
        } );
    } );

    function remove_keyword( keyword, pic_id ) {

      $.ajax({
        url: '/keywords/remove/' + pic_id,
        data: {
          'vocabulary': keyword
        },
        dataType: 'json',
        success: function (results) {
          reload_keyword_buttons( results, pic_id )
        }
      });
    }

    window.onload = init;

  </script>

  <div class="techfont" id="div_8" style="min-height:100px;">
    <div class="row">
      <div id="titletext" class="col-md-6 editive" contenteditable="true">
        <h1>{{ object.title }}</h1>
      </div>
      <div class="col-md-6">
        <span class="pull-right">
          <form action="/albums/add/{{ object.modid }}" method="get" class="float-right">
            {% csrf_token %}
            <input name="add_to_album"  type="text" placeholder="Add to album...">
          </form>
        </span>
      </div>
    </div>
  </div>

  <table id="maintab" style="padding:0px;border:0px;">
   <tr colspan=4>
       <td style="width:25px;vertical-align:middle;">
           <a href=javascript:retreat()><span class="glyphicon glyphicon-chevron-left"></span></a>
       </td>
       <td id="picframe" style="width:calc(100%-270px);">
         <!--<div class="bounding-box" style="background-image:url("/{{ object.modpath }}/{{ object.file }}");">-->
           <img id="picture_8" 
                class="lazyload responsive" 
                src="/{{ object.modpath }}/{{ object.file }}" 
                data-src="/{{ object.modpath }}/{{ object.file }}" 
                alt="/{{ object.modpath }}/{{ object.file }}" 
                >
             </img>
         <!--</div>-->
       </td>
       <td style="width:25px;vertical-align:middle;">
           <a href=javascript:advance()><span class="glyphicon glyphicon-chevron-right"></span></a>
       </td>
       <td style="width:220px;">
           <div class="techfont" style="font-size:1em;overflow:auto;vertical-align:top;top:65px;width:200px;">
               <span id="title" class="titletext" style="font-size:100%;">
                   Title<br>
               </span>
               <span class="titletext">
                   Taken on 
               </span>
               <span id="datetime" class="titlecontent">
                   2000-00-00<br>
               </span>
               <span class="titletext">
                   Filename<br>
               </span>
               <span id="filename" class="titlecontent">
                   {{ object.file }}/<br>
               </span>
               <span class="titletext">
                   Description<br>
               </span>
               <span id="description" class="titlecontent">
                   $comment<br>
               </span>
               <span class="titletext">
                   Dimensions 
               </span>
               <span id="dimensions" class="titlecontent"> ? <br> </span>
               <span id="megapixels" class="titlecontent"> ? <br></span>
               <span class="titletext">
                   AspectRatio
               </span>
               <span id="aspect" class="titlecontent"> ? <br> </span>
               <span class="titletext">
                   Camera
               </span>
               <span id="camera" class="titlecontent"> ? <br></span>
               <span class="titletext">
                   Exposure
               </span>
               <span id="fnumber" class="titlecontent"> ? </span>
               <span id="exposure" class="titlecontent"> ? </span>
               <span id="exposureprogram" class="titlecontent"> ? </span>
               <span id="iso" class="titlecontent"> ? </span>
               <span id="flash" class="titlecontent"> ? <br></span>
               <span class="titletext">
                   Lens 
               </span>
               <span id="lensid" class="titlecontent"> ? <br></span>
               <span id="lens" class="titlecontent"> ? <br></span>
               <span id="focusmode" class="titlecontent"> ? <br></span>
               <span id="focusdistance" class="titlecontent"> ? <br></span>
               <span id="focallength" class="titlecontent"> ? </span>
               <span id="focallen35mm" class="titlecontent"> ? <br></span>
               
               <div id="panel1" style="display:inline">
                   <span class="titletext">
                       Keywords<br>
                   </span>
                   <span id="keywords" class="titlecontent" style="font-size:100%;">
                      {% for word in object.keywords.modlist %}
                        <button type="button" data-react-toolbox="button">
                        {{ word }}
                        <i class="glyphicon glyphicon-remove"></i>
                        </button>
                      {% empty %}
                        No keywords loaded
                      {% endfor %}
                   </span>
                   <form id="submit_keywords" action="" method="get" class="float-right">
                     {% csrf_token %}
                     <input name="vocabulary"  type="text"   id="vocabulary" placeholder="Add keywords...">
                     <input name="pic_id"      type="hidden" id="pic_id"     value="{{ object.modid }}">
                   </form>
               </div>
               <div id="panel2" style="display:none">
                   <a href=javascript:panel2() class="unembellish">
                       <span class="titletext">
                           Location<br>
                       </span>
                   </a>
                   <span id="map">
                       <img src=""/>
                   /<span>
               </div>
               <span class="titletext">
                   <br>Copyright
               </span>
               <span id="copyright" class="titlecontent"> ? <br></span>
           </div>
       </td>
   </tr>
 </table>

{% endblock %}
