{% extends "blog/base.html" %}
{% block content %}

  <div class="techfont" id="div_8" style="min-height:100px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Folders</h1>
        </div>
        <div class="col-md-6">
          <span class="pull-right">
            <form action="{% url 'picture_list' %}" method="get" class="float-right">
              <input name="search" type="text" placeholder="Search...">
            </form>
          </span>
        </div>
      </div>
    </div>
  </div>

  {% for folder in object_list %}
    {% if folder.modtype == 2 %}
      {% if folder.modcount > 0 %}
        <div class="tt_base droppable draggable techfont gallery" id="div_{{ folder.modthumb.modpath }}_{{ folder.modthumb.file }}">
            <a id="piclink_8" href="{{ folder.modpath }}">
              <div class="desc">{{ folder.modpath }}</div>
              <section class="wrapper" id="file-number_{{ folder.modthumb.modpath }}_{{ folder.modthumb.file }}">
                  <span class="tt_subject">
                      <img id="picture_8" 
                           class="lazyload" 
                           src="/{{ folder.modthumb.modpath }}/{{ folder.modthumb.file }}" 
                           data-src="/{{ folder.modthumb.modpath }}/{{ folder.modthumb.file }}" 
                           alt="{{ folder.count }} shots in {{ folder.modpath }}" 
                           style="border:2px solid white;position:relative;top:100%;left:0%;z-index:0;height:200px;">
                      </img>
                  </span>
              </section>
              <div class="count">Contains {{ folder.modcount }} shots</div>
          </a>
        </div>
      {% endif %}
    {% endif %}
  {% empty %}
    No folders loaded
  {% endfor %}

  <div class="techfont" id="div_8" style="min-height:100px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Files</h1>
        </div>
        <div class="col-md-6">
          <span class="pull-right">
            <form action="{% url 'picture_list' %}" method="get" class="float-right">
              <input name="search" type="text" placeholder="Search...">
            </form>
          </span>
        </div>
      </div>
    </div>
  </div>

  {% for picture in object_list %}
    {% if picture.modtype == 1 %}
      <div class="tt_base droppable draggable" id="div_8">
        <!-- <a id="piclink_8" href="{{ picture.modpath }}/{{ picture.file }}"> -->
        <a id="piclink_8" href="/pictures/{{ picture.modthumb.id }}">
          <section class="wrapper" id="file-number_8">
              <span class="tt_subject">
                <img id="picture_8" 
                     class="lazyload" 
                     src="/{{ picture.modthumb.modpath }}/{{ picture.modthumb.file }}" 
                     data-src="/{{ picture.modthumb.modpath }}/{{ picture.modthumb.file }}" 
                     alt="{{ picture.modthumb.modpath }}/{{ picture.modthumb.file }}" 
                     style="border:2px solid white;position:relative;top:100%;left:0%;z-index:0;height:200px; border-radius:12px;">
                  </img>
              </span>
            </section>
            <div id="header_o_8" class="tt_left tt_text">
              <div id="header_8" class="tt_lefttextnooff">
                {{ picture.modthumb.title }}
              </div>
            </div>
            <span class="tt_text tt_bottom">
              <article id="art_keywords_8">No keywords</article>
            </span>
        </a>
        <span class="tt_edit">
            <form id="editprops">
                <fieldset>
                    <input id="title" type="text" value="test">
                </fieldset>
            </form>
        </span>
      </div>
    {% endif %}
  {% empty %}
    No picture files in this picture
  {% endfor %}
{% endblock %}
