{% extends "blog/base.html" %}
{% block content %}

  <div class="centerstage">
    <div class="techfont" id="div_" style="min-height:100px;">
      <div class="row">
        <div class="col-md-6">
          <h1>Pictures</h1>
        </div>
        <div class="col-md-6">
          <span class="pull-right">
            <form action="{% url 'picture_list' %}" method="get" class="float-right">
              <input name="sort"   type="text" placeholder="Sort by...">
            </form>
          </span>
          <span class="pull-right">
            <form action="{% url 'picturefile_organiser' %}" method="get" class="float-right">
              <input name="organise"   type="text" placeholder="Organise">
            </form>
          </span>
        </div>
      </div>
    </div>
  </div>

  {% for picture in object_list %}
    <div class="tt_base droppable draggable" id="div_{{ picture.id }}" style="min-height:200px;">
      <!-- <a id="piclink_8" href="{{ picture.modpath }}/{{ picture.modfile }}"> -->
      <a id="piclink_{{ picture.id }}" href="/pictures/{{ picture.id }}">
        <section class="wrapper" id="modfile-number_{{ picture.id }}">
            <span class="tt_subject">
              <img id="picture_{{ picture.id }}" 
                   class="lazyload" 
                   src="{{ picture.modpath }}/{{ picture.modpreview }}" 
                   data-src="{{ picture.modpath }}/{{ picture.modfile }}" 
                   alt="{{ picture.modpath }}/{{ picture.modfile }}" 
                   style="border:2px solid white;position:relative;top:100%;left:0%;z-index:0;height:200px; border-radius:8px;">
                </img>
            </span>
          </section>
          <div id="header_o_{{ picture.id }}" class="tt_left tt_text">
            <div id="header_{{ picture.id }}" class="tt_lefttextnooff">
              {{ picture.title }}
            </div>
          </div>
          <span class="tt_text tt_top">
            <article id="art_pageno_{{ picture.id }}">{{ picture.title }}</article>
          </span>
          <span class="tt_text tt_bottom">
            <article id="art_keywords_{{ picture.id }}">{{ picture.keywords }}</article>
          </span>
      </a>
      <span class="tt_edit">
          <form id="editprops{{ picture.id }}">
              <fieldset>
                  <input id="title{{ picture.id }}" type="text" value="test">
              </fieldset>
          </form>
      </span>
    </div>
  {% empty %}
    <div class="techfont" id="div_{{ picture.id }}" style="min-height:100px;">
      No pictures found
    </div>
  {% endfor %}

{% endblock %}
