// Custom.scss
// Option B: Include parts of Bootstrap

/* custom.scss */    
/* import the necessary Bootstrap files */


/* -------begin customization-------- */   

/* simply assign the value */ 

$body-bg: #e05915;
$enable-gradients: true;
$color:      #431c5d;
$link-color: #431c5d;

/* or, use an existing variable */

$theme-colors: (
  primary: #431c5d
);

$theme-colors: (
  "homepix-dark": #431c5d,
  "homepix-text": #cdd422
 );

@function theme-color($key: "homepix-dark") {
  @return map-get($theme-colors, $key);
}
/* -------end customization-------- */  



// finally, import Bootstrap to set the changes!

// Required
 @import "../scss/bootstrap";
